body {
  padding: 2rem;
}
.icon-wrapper {
  position: relative;
  padding: 0px 30px;
}

.icon-wrapper .faicon {
  position: absolute;
  top: -2px;
  width: 16px;
  height: 16px;
  line-height: 1;
  font-size: 16px;
}

.icon-wrapper .faicon:first-child {
  left: 0;
}

.icon-wrapper .faicon:last-child {
  right: 0;
}

.color-picker {
  text-align: center;
}

.color-picker .IroColorPicker {
  display: inline-block !important;
}
